* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #181820;
    --secondary-color: #21212b;
    --accent-color: #5a92e1;
    --main-font-color: #f2f2f2;
}

html {
    scroll-behavior: smooth;
    transition: 0.3s;
}

::selection {
    color: var(--main-color);
    background-color: var(--main-font-color);
}

.App {
    font-family: "Poppins", sans-serif, Helvetica;
    color: #f2f2f2;
}
