.wrapper {
    max-width: 1500px;
    margin: auto;
}

.featured {
    max-width: 900px;
    width: 100%;
    height: 450px;
    margin: auto;
    margin-top: 200px;
}

.featured h2 {
    height: 15%;

    font-size: 45px;
    margin-bottom: 50px;
    margin-left: 5px;
}

.article_wrapper {
    display: flex;
    max-height: 255px;
    width: 90%;
    height: 90%;
    margin: auto;
    align-items: center;
    flex-direction: row;

    background-color: var(--secondary-color);
    padding: 30px;

    border-radius: 12px;
    cursor: pointer;
}

.cover_image {
    flex: 0.4;
    height: 100%;
    position: relative;
}

.cover_image > div > img {
    border-radius: 8px;
}

.main_article_details {
    flex: 0.6;
    height: 100%;

    text-align: left;
}

.main_article_details > * {
    padding: 10px;
    margin-left: 15px;
}

.main_article_details h3 {
    font-size: 30px;
}

.main_article_details p {
    font-size: 18px;
}

@media only screen and (max-width: 960px) {
    .main_article_details h3 {
        font-size: 26px;
    }
}
@media only screen and (max-width: 660px) {
    .main_article_details h3 {
        font-size: 22px;
    }
}

.desc {
    position: relative;
    overflow: hidden;
    max-height: 120px;
}

.fade {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 20%, var(--secondary-color) 90%);
}
.preserve_text {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */

    font-family: "Poppins", sans-serif;
    color: var(--soft-text);
    line-height: 30px;
}

.sep {
    margin: auto;
    margin-top: 100px;
    max-width: 900px;
    width: 100%;
}

.sep h2 {
    height: 15%;

    font-size: 45px;
    margin-bottom: 50px;
    margin-left: 5px;
}

.body {
    margin-top: 100px;
    margin-bottom: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.articles {
    width: 100%;
    margin: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.grid_element {
    flex: 0.3;

    display: flex;
    align-items: center;
    justify-content: center;
}

.article {
    width: 450px;
    height: 600px;
    background-color: var(--secondary-color);

    margin: 15px;

    cursor: pointer;
}

.thumbnail {
    position: relative;
    width: 85%;
    height: 40%;

    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.text {
    width: 85%;
    margin: auto;
}

.text > * {
    margin: 10px;
}

.text .article_date {
    font-weight: 200;
    letter-spacing: 2px;
}

.text h2 {
    margin-bottom: 20px;
    font-size: 25px;
}

.text .article_desc {
    line-height: 30px;
    text-align: justify;
    font-size: 17px;

    color: var(--soft-text);
}

.desc_wrapper {
    position: relative;
}

@media only screen and (max-width: 1210px) {
    .grid_element {
        width: 360px;
    }

    .article {
        width: 350px;
        height: 550px;
    }

    .thumbnail {
        width: 70%;
    }
    .text .article_date {
        font-size: 15px;
    }

    .text h2 {
        font-size: 20px;
    }

    .desc_wrapper .article_desc {
        line-height: 22px;
        font-size: 15px;
    }
    .small_fade {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, transparent 20%, var(--secondary-color) 90%);
    }
}
