@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #181820;
    --secondary-color: #21212b;
    --accent-color: #5a92e1;
    --main-font-color: #f2f2f2;
    --soft-text: rgb(185, 185, 185);
}

html {
    font-family: "Poppins", sans-serif, Helvetica;
    color: var(--main-font-color);
    background-color: var(--main-color);
    scroll-behavior: smooth;
    transition: 0.3s;
}

::selection {
    color: var(--main-color);
    background-color: var(--main-font-color);
}

a {
    color: var(--main-font-color) !important;
}
