.navbar {
    width: 100%;
    height: 64px;

    margin: auto;

    display: flex;
    flex-direction: row;
    align-items: center;

    position: sticky;
    top: 0;

    background-color: var(--secondary-color);
    z-index: 100;
}

.main_text {
    height: 100%;
    display: flex;
    align-items: center;

    margin-left: 5%;
    cursor: pointer;
}
.main_text a {
    font-weight: 300;
    color: var(--main-font-color);
    text-decoration: none;
}

.main_text span {
    font-weight: bold;
}

.links {
    height: 100%;
    display: flex;
    flex: 0.4;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;

    max-width: 650px;
}

.link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links a {
    margin: auto;
    text-decoration: none;
    color: var(--main-font-color);
    font-size: 18px;
}

@media only screen and (max-width: 950px) {
    .links a,
    .social .name a {
        font-size: 16px;
    }
}

.links a:hover {
    color: var(--accent-color);
    transition: 0.3s;
}

.special_link a {
    color: var(--soft-text);
    opacity: 0.5;
}

.special_link a:hover {
    cursor: not-allowed;
    opacity: 0.5;
    color: var(--soft-text);
}

.socials {
    flex: 0.6;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0.2;
    text-align: center;
    margin-right: 40px;
}

.social .icon {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.social .icon svg {
    fill: var(--main-font-color);
}

.social .name a {
    text-decoration: none;
    color: var(--main-font-color);
    font-size: 17px;
}
.social .name a:hover {
    color: var(--accent-color);
    transition: 0.3s;
}
@media only screen and (max-width: 950px) {
    .social {
        margin-right: 30px;
    }
    .social .name a {
        font-size: 16px;
    }
}
.email {
    display: flex;
    align-items: center;
    margin-right: 10%;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.email_link a {
    display: flex;
    align-items: center;
    justify-content: center;
}
