.body_mobile {
    width: 100%;
    background-color: var(--main-color);
    padding-top: 40px;
}

.projects_container_mobile {
    width: 90%;

    margin: auto;

    display: flex;
    flex-direction: column;
}
